<div class="content">
    <div class="search">
        <div class="search-head">
            <i class="layui-icon layui-icon-search" style="font-size: 20px"></i>&nbsp;查询
        </div>
        <form class="layui-form search-body" action="">
            <div class="">
                <label class="layui-form-label">用户名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="">
                <label class="layui-form-label">管理科室：</label>
                <div class="layui-input-block">
                    <select name="city" lay-filter="test">
                        <option value="">请选择所属科室</option>
                        <option value="0">北京</option>
                        <option value="1">上海</option>
                        <option value="2">广州</option>
                        <option value="3">深圳</option>
                        <option value="4">杭州</option>
                    </select>
                </div>
            </div>
            <div class="">
                <label class="layui-form-label">所属角色：</label>
                <div class="layui-input-block">
                    <select name="city">
                        <option value="">请选择所属角色</option>
                        <option value="0">北京</option>
                        <option value="1">上海</option>
                        <option value="2">广州</option>
                        <option value="3">深圳</option>
                        <option value="4">杭州</option>
                    </select>
                </div>
            </div>
            <div class="ml-40">
                <button type="button" class="layui-btn"><i class="layui-icon layui-icon-search"></i>搜索</button>
                <button type="button" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </form>
    </div>
    <div class="table">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="flex bt-1 pd-10"><i class="layui-icon layui-icon-table">列表</i><a class="layui-font-blue">点击下载《批量添加用户模板》</a></div>
                        <div class="layui-card-body">
                            <table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar"></table>
                            <script type="text/html" id="test-table-toolbar-toolbarDemo">
                                <div class="layui-btn-container">
                                    <button class="layui-btn" data-type="getCheckData"><i class="layui-icon layui-icon-addition"></i>新增用户</button>
                                    <button class="layui-btn layui-btn-danger" data-type="getCheckLength"><i class="layui-icon layui-icon-delete"></i>批量删除用户</button>
                                    <button class="layui-btn" data-type="isAll"><i class="layui-icon layui-icon-addition"></i>批量添加用户</button>
                                </div>
                            </script>
                            <script type="text/html" id="test-table-toolbar-barDemo">
                                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="read">查看</a>
                                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del">微信解绑</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<style>
    .table {
        width: 100%;
        margin-top: 20px;
    }
    .content {
        margin: 14px;
        height: 100%;
        overflow-y: auto;
    }
    .search {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 10px;
    }

    .search-head {
        display: flex;
        justify-content: start;
        font-size: 16px;
        line-height: 42px;
        border-bottom: 1px solid rgba(100, 100, 100, 0.1);
    }
    .search-body {
        margin: 20px 0px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }
</style>
<script>
    layui.use(['admin', 'form','table'], function () {
        var $ = layui.$
            , table = layui.table
            , form = layui.form;

        form.render();
        table.render({
            elem: '#test-table-toolbar',
            url:'./res/json/table/demo.json',
            toolbar: '#test-table-toolbar-toolbarDemo',
            height:407,
            title: '用户数据表',
            cols: [[
                 {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'序号', width:80, fixed: 'left', unresize: true, sort: true}
                ,{field:'username', title:'用户名', width:120, edit: 'text'}
                ,{field:'sex', title:'性别', width:80, edit: 'text', sort: true}
                ,{field:'tel', title:'联系电话', width:150, edit: 'text'}
                ,{field:'city', title:'工作科室', width:100}
                ,{field:'sign', title:'管理科室',width: 100}
                ,{field:'experience', title:'所属角色', width:80, sort: true}
                ,{field:'ip', title:'状态', width:120}
                ,{field:'logins', title:'绑定微信', width:100, sort: true}
                ,{field:'joinTime', title:'科室审批负责人', width:120}
                ,{field:'备注', title:'备注', width:120}
                ,{field:'lastTime', title:'最后登入日期', width:120}
                ,{fixed: 'right', title:'操作', toolbar: '#test-table-toolbar-barDemo',width:260}
            ]]
            ,page: true
        });
        form.on('submit(component-form-element)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>